<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="alien" class="com.example.Alien">
    </bean>
<!--    <bean id="alien1" class="com.example.Alien" scope="prototype">-->
<!--        <constructor-arg value="21"/>-->
<!--        <property name="lap" ref="lap1"></property>-->
<!--    </bean>-->
    <bean id="alien1" class="com.example.Alien" >
        <constructor-arg type="int" value="21"/>
        <constructor-arg type="com.example.Laptop" value="lap1"/>
<!--        <constructor-arg index="0" value="21"/>-->
<!--        <constructor-arg name="age" value="21"/>-->
    </bean>
    <bean id="lap1" class="com.example.Laptop">
    </bean>
</beans>
